*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo_list{
  width: 100%;
  padding: 20px;
  border: 1px solid red;
}
.todo_ithem{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 5px 0;
  border: 1px solid blue;
}
.todo_text{
}
.todo_command{
  color: blue;
  cursor: pointer;
}

.general_command{
  width: 50%;
  border: 1px solid lime;
  padding: 20px;
  margin: 5px 0;

  display: flex;
  justify-content: space-around;
}
